

header {
    height: 190px;
    z-index: 4;
    border-bottom: 1px solid $brand-grey-2;

    @include media-breakpoint-down(md) {
        height: 140px;
    }

    @include media-breakpoint-down(xs) {
        height: 115px
    }

    .navbar {
        @include media-breakpoint-down(md) {
            padding: 15px 0;
        }
    }

    .nav-logo {
        margin: 20px 0 0 150px;
        width: 115px;
        height: auto;
        filter: brightness(0%);

        @include media-breakpoint-down(md) {
            margin: 20px 0 0 55px;
            width: 75px;
        }

        @include media-breakpoint-down(xs) {
            width: 70px;
            margin: 20px 0 0 45px;
        }
    }



    .navbar-toggler {
        .hamburger-line {
            background-color: black;
            height: 5px;
            width: 50px;
            margin: 10px 0;
        }
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .nav-menu {
        justify-content: flex-end;
        margin-right: 150px;

        @include media-breakpoint-down(md) {
            margin-right: 0;
        }

        .menu-item {
            list-style: none;
            text-align: center;

            @include media-breakpoint-down(md) {
    
                position: relative;
                align-items: center;
                display: flex;
                justify-content: center;
                border-top: 0.5px solid grey;

                a {
                    padding: 25px 0;
                }
            }
        }

        .current-menu-item a {
            border-bottom: 3px solid black;
        }

        .menu-item a{
            color: black;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 30px;

            @include media-breakpoint-down(lg) {
                font-size: 18px;
            }

            @include media-breakpoint-down(md) {
                font-size: 36px;
                display: block;
                width: 100%;
                color: white;
            }
        }

        .menu-item a:hover {
            text-decoration: none;
        }

        .account-icon-wrapper {
            padding-left: 20px;
            text-align: center;

            @include media-breakpoint-down(md) {
                padding: 0;
                display: none;
            }

            .submenu {
                display: none;
                position: absolute;
                right: 125px;

                @include media-breakpoint-down(lg) {
                    right: 75px;
                }

                a {
                    color: black;
                }

                .header-submenu {
                    padding: 0;
                    margin: 0;
                }

                .submenu-contact-us {
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }

            }
        }

        @include media-breakpoint-up(lg) {
            .account-icon-wrapper:hover {
                .submenu {
                    display: flex;
                    padding-top: 5px;
                    flex-direction: column;
    
                    .menu-item {
                        background-color: white;
                        padding: 20px 10px;
                        margin-top: -1px;
                        border: 1px solid $brand-grey-3;
                    }
                }
            }
        }



    }

    #menu-logged-out-menu, #menu-logged-in-menu {
        display: flex;
        margin: 0;

        @include media-breakpoint-down(md) {
            display: block;
            padding: 0;
            text-align: center;
            margin-bottom: 0;
        }


    }
}

.home {
    header {
        border-bottom: 0;
        background: linear-gradient(0deg,transparent, rgba(0,0,0,.05), rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3), rgba(0,0,0,.4), rgba(0,0,0,.5), rgba(0,0,0,.6));

        .nav-logo {
            filter: unset;
        }

        .menu-item a{
            color: white;
        }

        .navbar-toggler {
            .hamburger-line {
                background-color: white;
            }
        }

    }

}

#wp-auth-check-frame {
    header {
        display: none;
    }
}