.contact-page-container {

    .wpcf7-form {

        padding: 70px 0 0;

        @include media-breakpoint-down(sm) {
            padding: 50px 0 0;
        }

        @include media-breakpoint-down(xs) {
            padding: 35px 0 0;
        }

        p, .wpcf7-response-output {
            display: flex;
            justify-content: center;

        }

        .wpcf7-response-output {
            width: calc(100% - 190px);
            margin: 0 auto 30px;

            @include media-breakpoint-down(sm) {
                width: calc(100% - 80px);
                font-size: 18px;
            }
        }

        label {
            width: 100%;
            margin: auto;
            font-size: 18px;
            font-weight: 700;
            width: calc(100% - 190px);

            @include media-breakpoint-down(sm) {
                width: calc(100% - 80px);
                font-size: 18px;
            }
        }

        .wpcf7-form-control {
            width: 100%;
        }

        .wpcf7-text {
            height: 45px;
        }

        .wpcf7-textarea {
            max-height: 360px;
            height: 360px;
            margin-bottom: 80px;
        }

        .wpcf7-spinner {
            display: none;
        }

        .wpcf7-submit {
            max-width: 540px;
            width: 100%;
            text-transform: uppercase;
            font-size: 24px;
            padding: 15px;
            border-radius: 50px;
            border: 5px solid white;
            margin: 15px;
            font-weight: 700;
            background-color: black;
            color: white;
        }

    }
}