.drills-category-container {

    .global-page-row {
        .global-page-column  {
            padding: 0 0 70px;
            background-color: transparent;
        }
    }

}

.archive-categories-column {
    padding: 0;
    width: 100%;
}